name: Python CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  SONAR_ORGANIZATION: cybertourist 
  SONAR_PROJECT_KEY: Cybertourist_python-project-50

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: pip install uv

      - name: Install dependencies (including dev)
        run: uv sync --group dev

      - name: Run linter
        run: make lint

      - name: Run tests with coverage
        run: uv run pytest --cov=gendiff --cov-report=xml:coverage.xml

      - name: Run SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -Dsonar.organization=${{ env.SONAR_ORGANIZATION }}
            -Dsonar.projectKey=${{ env.SONAR_PROJECT_KEY }}
            -Dsonar.python.coverage.reportPaths=coverage.xml
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
